/* --- Botón de retorno --- */
.backButton {
  display: inline-block;
  background-color: #5f7be7;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 15px;
  font-size: 1em;
  cursor: pointer;
  margin: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}

.backButton:hover {
  background-color: #33bde0;
}

/* --- Contenedor principal --- */
.detailsContainer {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
  font-family: 'Arial', sans-serif;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* --- Tarjeta del Restaurante (RestaurantCard) --- */
.restaurantCard {
  display: flex;
  flex-direction: row; /* Imagen e información en fila */
  align-items: center;
  border-radius: 8px;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
  width: 100%;
  height: 100%;
}

.imageWrapper {
  width: 300px; /* Ancho fijo para la imagen */
  height: 450px; /* Altura fija para la imagen */
  overflow: hidden;
}

.restaurantImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.restaurantInfo {
  padding: 20px;
  flex: 1;
}

.detailsTitle {
  font-size: 2em;
  margin: 10px 0;
  color: #333;
  font-weight: bold;
}

.detailsDescription {
  font-size: 1.2em;
  color: #666;
  margin-bottom: 10px;
  text-align: justify;
}

.detailsData {
  margin-top: 20px;
}

.detailsPrice,
.detailsMealType,
.detailsRating,
.detailsContact,
.detailsDirection,
.detailsInstagram,
.detailsOwners {
  font-size: 1em;
  margin: 5px 0;
  color: #555;
}

.detailsWeb {
  color: #0066cc;
  text-decoration: none;
  font-weight: bold;
}

.detailsWeb:hover {
  text-decoration: underline;
}

.instagramLink {
  color: #0066cc; /* Color del enlace */
  text-decoration: none; /* Elimina el subrayado por defecto */
  font-weight: bold; /* Opcional: hace el texto en negrita */
}

.instagramLink:hover {
  text-decoration: underline; /* Muestra subrayado cuando el usuario pasa el ratón */
  color: #005bb5; /* Color al pasar el ratón */
}

/* --- Contenedor del Horario de Trabajo y Mapa --- */
.workingScheduleContainer {
  background-color: #fff;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.workingScheduleContainer h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
  color: #333;
}

.workingScheduleAndMapContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: stretch;
}

/* Tabla de horarios */
.workingScheduleTable {
  flex: 1;
  width: 100%;
  border-collapse: collapse;
}

.workingScheduleTable th,
.workingScheduleTable td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

.workingScheduleTable th {
  background-color: #f0f0f0;
  color: #333;
}

/* Mapa */
.mapContainer {
  flex: 1;
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
}

.mapContainer p {
  height: 100%;
  width: 100%;
  font-size: 1.5em;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centra verticalmente */
  align-items: center; /* Centra horizontalmente */
}

.mapContainer iframe {
  width: 100%;
  height: 100%;
  border: 0;
}

.workingScheduleTable,
.mapContainer {
  flex: 1;
}

/* --- Servicios del Restaurante --- */
.restaurantServices,
.menuOptionsContainer {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.restaurantServices h2,
.menuOptionsContainer h2 {
  font-size: 1.8em;
  margin-bottom: 15px;
  color: #333;
  font-weight: bold;
  text-align: left;
}

.servicesList {
  display: flex;
  flex-wrap: wrap;
  gap: 15px; /* Espaciado entre las tarjetas */
  justify-content: center; /* Centra las tarjetas */
}

.serviceCard {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  flex: 1;
  min-width: 150px; /* Evita que las tarjetas se estiren demasiado */
  max-width: 200px; /* Tamaño máximo para las tarjetas */

  /* Añadir flexbox para centrar el contenido */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centra verticalmente */
  align-items: center; /* Centra horizontalmente */
}

.serviceCard p {
  font-size: 1.1em;
  color: #444;
  margin: 0;
  font-weight: bold;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 5px 0;
  color: #444;
}

/* --- Opciones del menú --- */

/* Contenedor de las cartas de los menús */
.menuCardsContainer {
  display: flex;
  flex-wrap: wrap; /* Asegura que las cartas se acomoden en múltiples filas si es necesario */
  gap: 20px; /* Espacio entre las cartas */
  justify-content: center; /* Centra las cartas en la pantalla */
}

/* Estilo para cada carta de menú */
.menuCard {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  width: 250px; /* Ancho fijo para cada carta */
  height: max-content; /* Altura fija inicial para cada carta */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.5s ease, box-shadow 0.5s ease, height 0.5s ease;
  display: flex;
  flex-direction: column;
}

/* Efecto hover solo en la carta sobre la que se pasa el ratón */
.menuCard:hover {
  transform: translateY(-5px); /* Eleva solo la carta sobre la que está el ratón */
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2); /* Aumenta el sombreado */
  z-index: 1; /* Asegura que la carta que está siendo "hovered" se quede encima */
  height: auto; /* Aumenta la altura cuando se pasa el ratón por encima */
}

/* Nombre del menú */
.menuName {
  font-size: 1.5em;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
  text-transform: uppercase;
}

/* Precio del menú */
.menuPrice {
  font-size: 1.2em;
  color: #33bde0;
  margin-bottom: 15px;
}

/* Descripción del menú */
.menuDescription {
  font-size: 1em;
  color: #666;
  line-height: 1.5;
  text-align: justify; /* Justificar el texto */
  max-height: 80px; /* Limitar la altura inicialmente */
  overflow: hidden; /* Ocultar texto fuera del área visible */
  transition: max-height 0.5s ease; /* Animación para el cambio de altura */
  margin-top: auto; /* Asegura que la descripción siempre quede al final de la tarjeta */
  padding-bottom: 10px; /* Espacio extra en la parte inferior para no cortar el texto */
}

/* Solo cuando se pasa el ratón por encima de la carta, expandir su descripción */
.menuCard:hover .menuDescription {
  max-height: 400px; /* Expande solo la descripción de la carta sobre la que está el ratón */
  overflow: visible; /* Deja que el texto se vea completamente */
}

/* Estilo para la descripción corta del menú */
.shortMenuDescription {
  font-size: 1em; /* Menor tamaño que el título */
  color: #888; /* Color gris más suave para hacerlo menos protagonista */
  margin-top: 10px; /* Espacio encima de la descripción corta */
  margin-bottom: 20px; /* Espacio debajo de la descripción corta */
  text-align: left; /* Centrado de la descripción */
  line-height: 1.5; /* Mejor espaciado entre líneas */
  font-weight: normal; /* No tan destacado como el título */
}