/* --- Opciones del menú --- */

/* Contenedor de las cartas de los menús */
.menuCardsContainer {
  display: flex;
  flex-wrap: wrap; /* Asegura que las cartas se acomoden en múltiples filas si es necesario */
  gap: 20px; /* Espacio entre las cartas */
  justify-content: center; /* Centra las cartas en la pantalla */
}

/* Estilo para cada carta de menú */
.menuCard {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  width: 250px; /* Ancho fijo para cada carta */
  height: max-content; /* Altura fija inicial para cada carta */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.5s ease, box-shadow 0.5s ease, height 0.5s ease;
  display: flex;
  flex-direction: column;
}

/* Efecto hover solo en la carta sobre la que se pasa el ratón */
.menuCard:hover {
  transform: translateY(-5px); /* Eleva solo la carta sobre la que está el ratón */
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2); /* Aumenta el sombreado */
  z-index: 1; /* Asegura que la carta que está siendo "hovered" se quede encima */
  height: auto; /* Aumenta la altura cuando se pasa el ratón por encima */
}

/* Nombre del menú */
.menuName {
  font-size: 1.5em;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
  text-transform: uppercase;
}

/* Precio del menú */
.menuPrice {
  font-size: 1.2em;
  color: #33bde0;
  margin-bottom: 15px;
}

/* Descripción del menú */
.menuDescription {
  font-size: 1em;
  color: #666;
  line-height: 1.5;
  text-align: justify; /* Justificar el texto */
  max-height: 80px; /* Limitar la altura inicialmente */
  overflow: hidden; /* Ocultar texto fuera del área visible */
  transition: max-height 0.5s ease; /* Animación para el cambio de altura */
  margin-top: auto; /* Asegura que la descripción siempre quede al final de la tarjeta */
  padding-bottom: 10px; /* Espacio extra en la parte inferior para no cortar el texto */
}

/* Solo cuando se pasa el ratón por encima de la carta, expandir su descripción */
.menuCard:hover .menuDescription {
  max-height: 400px; /* Expande solo la descripción de la carta sobre la que está el ratón */
  overflow: visible; /* Deja que el texto se vea completamente */
}

/* Estilo para la descripción corta del menú */
.shortMenuDescription {
  font-size: 1em; /* Menor tamaño que el título */
  color: #888; /* Color gris más suave para hacerlo menos protagonista */
  margin-top: 10px; /* Espacio encima de la descripción corta */
  margin-bottom: 20px; /* Espacio debajo de la descripción corta */
  text-align: left; /* Centrado de la descripción */
  line-height: 1.5; /* Mejor espaciado entre líneas */
  font-weight: normal; /* No tan destacado como el título */
}