/* --- Opciones del menú --- */

/* Contenedor de las cartas de los menús */
.menuCardsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

/* Estilo para cada carta de menú */
.menuCard {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  width: 250px;
  height: max-content;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.5s ease, box-shadow 0.5s ease, height 0.5s ease;
  display: flex;
  flex-direction: column;
}

/* Efecto hover solo en la carta sobre la que se pasa el ratón */
.menuCard:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  height: auto;
}

/* Nombre del menú */
.menuName {
  font-size: 1.5em;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
  text-transform: uppercase;
}

/* Precio del menú */
.menuPrice {
  font-size: 1.2em;
  color: #33bde0;
  margin-bottom: 15px;
}

/* Descripción del menú */
.menuDescription {
  font-size: 1em;
  color: #666;
  line-height: 1.5;
  text-align: justify;
  max-height: 80px;
  overflow: hidden;
  transition: max-height 0.5s ease;
  margin-top: auto;
  padding-bottom: 10px;
}

.menuCard:hover .menuDescription {
  max-height: 400px;
  overflow: visible;
}

/* Estilo para la descripción corta del menú */
.shortMenuDescription {
  font-size: 1em;
  color: #888;
  margin-top: 10px;
  margin-bottom: 20px;
  text-align: left;
  line-height: 1.5;
  font-weight: normal;
}